doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#container
      header
        a(href="/")
          h1.title Inventory Application
      main
        nav.sidebar-nav 
          ul.sidebar-links
            li
              a.side-link(href="/products") All products
            li
              a.side-link(href="/categories") All categories
          ul.sidebar-links
            li
              a.add-link(href="/product/create")
                button + Add Product
            li
              a.add-link(href="/category/create")
                button + Add Category
        div.page-container
          block content
